<?xml version="1.0" encoding="utf-8" ?>

<services>

  <input>
    <forum locked="true" nocache="true" flushcache="output/forum" noinfo="true">
      <get_topic_info>
        <stage map="sql:mysql:storeprocedure:table:GetTopicInfo">
          <authorName type="string" postparams="" base64="true"/>
          <title type="string" postparams="" base64="gzip"/>
          <message type="string" postparams="" base64="gzip"/>
          <post_time type="datetime" postparams="" base64="true"/>
          <email type="string" postparams="" base64="true"/>
          <forum_id type="int" postparams="" base64="true"/>
          <sourceurl type="string" postparams="" base64="true"/>

          <topic_id type="int" output="true"/>
          <topic_posted type="int" output="true"/>
        </stage>
      </get_topic_info>

      <add_reply>
        <stage map="sql:mysql:storeprocedure:table:AddReply">
          <authorName type="string" postparams="" base64="true"/>
          <topic_id type="int" postparams="" base64="true"/>
          <message type="string" postparams="" base64="gzip"/>
          <post_time type="datetime" postparams="" base64="true"/>
          <email type="string" postparams="" base64="true"/>
          <forum_id type="int" postparams="" base64="true"/>
          <number type="int" postparams="" base64="true"/>
          <is_post type="bool" postparams="" base64="true"/>
        </stage>
      </add_reply>

      <finish_update>
        <stage map="sql:mysql:storeprocedure:nonquery:ComputeTopicPlayers">
          <topic_id type="int" postparams="" base64="true"/>
        </stage>
      </finish_update>

      <log>
        <stage map="sql:mysql:storeprocedure:nonquery:Log">
          <source type="string" postparams=""/>
          <message type="string" postparams="" base64="gzip"/>
          <callstack type="string" postparams="" base64="true"/>
        </stage>
      </log>

      <need_monitor>
        <stage map="sql:mysql:storeprocedure:nonquery:GetMonitor">
          <forum_id type="int" postparams="" base64="true"/>
          <need_monitor type="float" output="true"/>
        </stage>
      </need_monitor>
      
    </forum>
  </input>
  
  <output>
    <forum noclientcache="true">
      <getfront>
        <stage map="sql:mysql:code:table:select SQL_CALC_FOUND_ROWS 
            DATE_FORMAT(last_update, '%d.%m.%Y-%H:%i') as 'Дата-время', 
            posted as 'Re:', 
            title as 'Список вопросов для обсуждения', 
            authors.nickname as 'Автор', 
            sourceurl,
            most_active,
            last_posted,
            topics.id
            from topics inner join authors on topics.author_id = authors.id 
            where forum_id = {0} order by last_update desc limit {1}, {2}">
          <forumid type="int" inplace="true"/>
          <forum_start_index type="int" inplace="true"/>
          <forum_row_count type="int" inplace="true" max="50"/>
        </stage>
        <stage map="xslt:~/xslt/htmlForumMainPage.xslt">
          <page_start_index type="int" input_index="1"/>
          <page_length type="int" input_index="2"/>
          <page_max_number type="int" max="30"/>
          <show_participate type="bool"/>
          <show_last type="bool"/>
        </stage>
      </getfront>
    </forum>

    <general>

      <get_api>
        <stage map="file:~/server/service.config"/>
        <stage map="code:myfilters:stream_to_xml_document"/>
        <stage map="xslt:~/xslt/htmlServerAPI.xslt"/>
      </get_api>
      
      <get_forum_list>
        <stage map="sql:mysql:code:table:select * from forums"/>
        <stage map="xslt:~/xslt/htmlOptionList.xslt"/>
      </get_forum_list>

      <get_forum_divs>
        <stage map="sql:mysql:code:table:select * from forums"/>
        <stage map="xslt:~/xslt/htmlForumDivs.xslt"/>
      </get_forum_divs>


      <get_forum_links>
        <stage map="sql:mysql:code:table:select * from forums"/>
        <stage map="xslt:~/xslt/htmlForumLinks.xslt"/>
      </get_forum_links>

      <get_last_report_time>
        <stage map="sql:mysql:code:table:select max(report_time) as report_time from reports_info"/>
        <stage map="code:myfilters:output_time"/>
      </get_last_report_time>
      
      <get_stat_types>
        <stage map="sql:mysql:code:table:select * from reports_types"/>
        <stage map="code:myfilters:set_values_column_name"/>
        <stage map="xslt:~/xslt/htmlOptionBoundList.xslt"/>
      </get_stat_types>
      
      <get_time_types>
        <stage map="sql:mysql:code:table:select * from reports_periods"/>
        <stage map="xslt:~/xslt/htmlTimeRadioList.xslt">
          <inputname type="string"/>
        </stage>
      </get_time_types>

      <get_nicks_start_with>
        <stage map="sql:mysql:storeprocedure:list:GetNickStartWith">
          <str type="string"/>  
        </stage>
      </get_nicks_start_with>
    </general>
    
    <stat>
      <get_activity>
        <stage map="sql:mysql:storeprocedure:table:ComputeActivity">
          <activity_type type="string" value="messages"/>
          <author type="string"/>
          <start_point type="datetime"/>
          <hours_step type="int" min="0" max="24"/>
          <steps_count type="int" min="1" max="100"/>

          <out_start type="datetime" output="true"/>
          <out_middle type="datetime" output="true"/>
          <out_end type="datetime" output="true"/>
        </stage>
        <stage map="xslt:~/xslt/jsonActivity.xslt"/>
      </get_activity>

      <get_rating>
        <stage map="sql:mysql:code:table:select SQL_CALC_FOUND_ROWS nickname,total 
                        from reports inner join authors on reports.author_id = authors.id 
                        where forum_id = {0} and report_type = {1} and report_period = {2} 
                        order by total desc limit {3}, {4}">
          <forum_id type="int" inplace="true"/>
          <report_type type="int" inplace="true"/>
          <time_option type="int" inplace="true"/>
          <limit type="int" inplace="true" max="100"/>
          <limit type="int" inplace="true" max="100"/>
        </stage>
        <stage map="xslt:~/xslt/htmlTable.xslt">
          <start_number type="int" input_index="3"/>
        </stage>
      </get_rating>
    </stat>
    
  </output>  
    
  
</services>